.TaskManager {
    display: grid;

    grid-template-columns: 1cm 1fr 1fr 1cm ;
    grid-template-rows: 2cm auto 1cm 1cm;

    grid-template-areas:    
        ". task-header task-header ."
        ". list-table list-table ."
        ". new-item-form new-item-form ."
        ". remove-box tick-box .";

    background-color: white;

    width: 10cm;
    max-width: 10cm;
    
    height: 20cm;

    padding: 1em;

    border-color: black;
    border-width: 1mm;
    border-style: solid;

    margin: 1cm;

    color: black;

    h1 {
        grid-area: task-header;
        text-align: center;
    }

    table {
        display: table;

        grid-area: list-table;

        width: 100%;
        height: 100%;
        max-height: 100%;

        overflow-y: scroll;

        table-layout: fixed;

        border-color: black;
        border-width: 1mm;
        border-style: solid;


        .header-row {
            height: 1cm;

            text-align: center;

            color: black;
        }
    }

    .newTaskForm {
        grid-area: new-item-form;
    }

    .removeBox {
        grid-area: remove-box;
        height: 30px;
        border: 3px solid #ff0000;
    }

    .tickBox {
        grid-area: tick-box;

        height: 30px;
        border: 3px solid #00ff00;
    }
}